<%- include("partials/header.ejs"); %>

<form method="POST" action="/sell-land">
    <!-- length -->
    <label>Length</label>
    <input type="number" name="length"><br>
    <!-- Breadth -->
    <label>Breadth</label>
    <input type="number" name="breadth"><br>
    <!-- square feet -->
    <label>Square Feet</label>
    <input type="number" name="square_feet"><br>
    <!-- type of conversion -->
    <label>Type of conversion:</label>
    <select name="conversion">
      <option value="Zone1">Zone 1</option>
      <option value="Zone2">Zone 2</option>
      <option value="Zone3">Zone 3</option>
      <option value="Zone4">Zone 4</option>
      <option value="industrialConverson">industrial Converson
      </option>
      <option value="warehouseconversion">Warehouse conversion</option>
      <option value="freezone">Free zone</option>
    </select><br>

    <!-- type of sites -->
    <label>Type of sites:</label><br>
    <select name="type">
      <option value="Bda">BDA</option>
      <option value="Dc">DC</option>
      <option value="BMRDA">BMRDA</option>
      <option value="NPA">NPA</option>
      <option value="Residential">Residential
      </option>
      <option value="A-KATHA">A-KATHA</option>
      <option value="E-KATHA">E-KATHA</option>
    </select> <br>

    <!-- estimated price -->
    <label>Estimated Price</label>
    <input type="number" name="price"><br>
    <!-- locality -->
    <label>Locality</label>
    <input type="text" name="locality"><br>
     <!-- pincode -->
     <label>Pincode</label>
     <input type="text" name="pincode"><br>
     <!-- address -->
     <label></label>Address
     <input type="text" name="address"><br>

    <input type="submit" value="submit" class="sell-submit">
</form>


<%- include("partials/footer.ejs"); %>